:root {
    --background: light-dark(oklch(0.96 0.02 284), oklch(0.14 0.03 285.58));
    --overlay: light-dark(oklch(0.95 0.02 284), oklch(0.2 0.055 285.58));
    --surface: light-dark(oklch(0.99 0.02 283.97), oklch(0.16 0.055 285.58));
    --base-100: light-dark(lch(83% 5 287deg), lch(40% 7 295deg));
    --base-200: light-dark(lch(72% 5 286deg), lch(55% 5 295deg));
    --base-300: light-dark(lch(61% 4 291deg), lch(67% 4 296deg));
    --base-400: light-dark(lch(50% 4 291deg), lch(75% 3 298deg));
    --base-500: light-dark(lch(39% 3 291deg), lch(83% 2 300deg));
    --base-600: light-dark(lch(29% 2 291deg), lch(89% 2 303deg));
    --base-700: light-dark(lch(18% 1 291deg), lch(93% 1 290deg));
    --base-800: light-dark(lch(8% 1 290deg), lch(95% 1 290deg));
    --blue-100: light-dark(lch(83% 34 231deg), lch(40% 29 248deg));
    --blue-200: light-dark(lch(72% 46 247deg), lch(55% 38 250deg));
    --blue-300: light-dark(lch(60% 41 250deg), lch(66% 43 249deg));
    --blue-400: light-dark(lch(50% 35 249deg), lch(75% 44 242deg));
    --blue-500: light-dark(lch(39% 28 247deg), lch(83% 34 231deg));
    --blue-600: light-dark(lch(28% 21 246deg), lch(89% 24 227deg));
    --blue-700: light-dark(lch(18% 13 249deg), lch(93% 15 226deg));
    --blue-800: light-dark(lch(8% 6 250deg), lch(95% 10 228deg));
    --green-100: light-dark(lch(83% 72 150deg), lch(40% 47 150deg));
    --green-200: light-dark(lch(71% 74 149deg), lch(55% 61 149deg));
    --green-300: light-dark(lch(60% 66 149deg), lch(66% 70 149deg));
    --green-400: light-dark(lch(49% 56 149deg), lch(75% 76 150deg));
    --green-500: light-dark(lch(39% 45 150deg), lch(83% 72 150deg));
    --green-600: light-dark(lch(28% 33 150deg), lch(88% 60 150deg));
    --green-700: light-dark(lch(18% 20 150deg), lch(93% 41 150deg));
    --green-800: light-dark(lch(7% 8 151deg), lch(95% 27 150deg));
    --orange-100: light-dark(lch(83% 63 81deg), lch(40% 50 76deg));
    --orange-200: light-dark(lch(72% 78 76deg), lch(55% 64 75deg));
    --orange-300: light-dark(lch(61% 69 75deg), lch(66% 73 76deg));
    --orange-400: light-dark(lch(50% 59 76deg), lch(75% 79 76deg));
    --orange-500: light-dark(lch(39% 49 76deg), lch(83% 63 81deg));
    --orange-600: light-dark(lch(28% 37 76deg), lch(89% 42 86deg));
    --orange-700: light-dark(lch(18% 23 76deg), lch(93% 24 88deg));
    --orange-800: light-dark(lch(8% 9 73deg), lch(95% 16 88deg));
    --purple-100: light-dark(lch(83% 30 300deg), lch(40% 37 298deg));
    --purple-200: light-dark(lch(72% 49 299deg), lch(55% 48 298deg));
    --purple-300: light-dark(lch(61% 52 299deg), lch(66% 53 299deg));
    --purple-400: light-dark(lch(50% 45 299deg), lch(75% 43 299deg));
    --purple-500: light-dark(lch(39% 36 299deg), lch(83% 30 300deg));
    --purple-600: light-dark(lch(28% 27 299deg), lch(89% 20 301deg));
    --purple-700: light-dark(lch(18% 17 298deg), lch(93% 12 302deg));
    --purple-800: light-dark(lch(8% 8 300deg), lch(95% 8 303deg));
    --red-100: light-dark(lch(83% 26 35deg), lch(39% 64 33deg));
    --red-200: light-dark(lch(72% 48 34deg), lch(54% 74 33deg));
    --red-300: light-dark(lch(60% 70 33deg), lch(66% 61 33deg));
    --red-400: light-dark(lch(49% 73 34deg), lch(75% 40 34deg));
    --red-500: light-dark(lch(38% 62 34deg), lch(83% 26 35deg));
    --red-600: light-dark(lch(27% 47 33deg), lch(89% 17 37deg));
    --red-700: light-dark(lch(17% 30 34deg), lch(93% 9 36deg));
    --red-800: light-dark(lch(7% 13 31deg), lch(95% 6 34deg));
    --teal-100: light-dark(lch(82% 45 190deg), lch(40% 27 190deg));
    --teal-200: light-dark(lch(71% 43 190deg), lch(54% 34 189deg));
    --teal-300: light-dark(lch(60% 37 190deg), lch(66% 40 190deg));
    --teal-400: light-dark(lch(50% 32 190deg), lch(75% 44 190deg));
    --teal-500: light-dark(lch(39% 26 189deg), lch(82% 45 190deg));
    --teal-600: light-dark(lch(28% 20 189deg), lch(88% 40 190deg));
    --teal-700: light-dark(lch(18% 12 190deg), lch(93% 31 190deg));
    --teal-800: light-dark(lch(8% 5 190deg), lch(95% 22 190deg));
    --primary-100: light-dark(lch(83% 30 300deg), lch(40% 37 298deg));
    --primary-200: light-dark(lch(72% 49 299deg), lch(55% 48 298deg));
    --primary-300: light-dark(lch(61% 52 299deg), lch(66% 53 299deg));
    --primary-400: light-dark(lch(50% 45 299deg), lch(75% 43 299deg));
    --primary-500: light-dark(lch(39% 36 299deg), lch(83% 30 300deg));
    --primary-600: light-dark(lch(28% 27 299deg), lch(89% 20 301deg));
    --primary-700: light-dark(lch(18% 17 298deg), lch(93% 12 302deg));
    --primary-800: light-dark(lch(8% 8 300deg), lch(95% 8 303deg));
    --secondary-100: light-dark(lch(83% 34 231deg), lch(40% 29 248deg));
    --secondary-200: light-dark(lch(72% 46 247deg), lch(55% 38 250deg));
    --secondary-300: light-dark(lch(60% 41 250deg), lch(66% 43 249deg));
    --secondary-400: light-dark(lch(50% 35 249deg), lch(75% 44 242deg));
    --secondary-500: light-dark(lch(39% 28 247deg), lch(83% 34 231deg));
    --secondary-600: light-dark(lch(28% 21 246deg), lch(89% 24 227deg));
    --secondary-700: light-dark(lch(18% 13 249deg), lch(93% 15 226deg));
    --secondary-800: light-dark(lch(8% 6 250deg), lch(95% 10 228deg));
    --base: light-dark(var(--base-600), var(--base-400));
    --base-bright: light-dark(var(--base-500), var(--base-500));
    --blue: light-dark(var(--blue-600), var(--blue-400));
    --blue-bright: light-dark(var(--blue-500), var(--blue-500));
    --green: light-dark(var(--green-600), var(--green-400));
    --green-bright: light-dark(var(--green-500), var(--green-500));
    --orange: light-dark(var(--orange-600), var(--orange-400));
    --orange-bright: light-dark(var(--orange-500), var(--orange-500));
    --purple: light-dark(var(--purple-600), var(--purple-400));
    --purple-bright: light-dark(var(--purple-500), var(--purple-500));
    --red: light-dark(var(--red-600), var(--red-400));
    --red-bright: light-dark(var(--red-500), var(--red-500));
    --teal: light-dark(var(--teal-600), var(--teal-400));
    --teal-bright: light-dark(var(--teal-500), var(--teal-500));
    --primary: light-dark(var(--primary-600), var(--primary-400));
    --primary-bright: light-dark(var(--primary-500), var(--primary-500));
    --secondary: light-dark(var(--secondary-600), var(--secondary-400));
    --secondary-bright: light-dark(var(--secondary-500), var(--secondary-500));
}
